.Rproj.user
.Rhistory
.RData
.Ruserdata
sims
moment_plots
var_plots
sims-results
.DS_Store
.Rapp.history
GTEx_results
#Rcpp files
bmdCpp.Rcheck
bmdCpp/*/*.o
bmdCpp/*/*.so
bmdCpp/*/*.dll
CvsR
null_sim_log.txt
null_sim_log_11_27.txt
null_sim_log.RData
null_sims_data.RData
